
.filter1{
filter: opacity(80%);

}


.filter2{

 filter: grayscale(100%);
}


.filter3{
 filter: sepia(100%);

}

.filter4{
 filter:blur(2px);

}

.filter5{
 filter:hue-rotate(90deg);
}

.filter6{
  filter: invert(80%);
}

.filter7{
  filter: saturate(8);
}

.filter8{
  filter:brightness(200%);
}

.filter9{
 filter:contrast(200%);
}
